.logement {
  &_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    @media (max-width: 425px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: flex-start;
      padding: 1rem;
    }
  }
  &_title-host-rate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &_title {
    color: #ff6060;
    font-weight: 500;
    font-size: 36px;
    @media (max-width: 425px) {
      font-size: 18px;
    }
  }
  &_host-rate {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @media (max-width: 425px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
    }
  }
  &_description-equipements {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    @media (max-width: 425px) {
      flex-direction: column;
      width: 100%;
    }
  }
  &_location {
    font-weight: 500;
    font-size: 18px;
    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}
